/*the following will only show on small screens*/

:root {
    --bg-leaderboard-row: #d3d3da;
    --bg-leaderboard-row-darker: #bcbcbd;
    --leaderboard-color: #23cd23;
    --explore-color: #eaae40;
    --rating-circle-color: #696767;
}

@media screen and (max-width: 575px) {
    .homepage-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #column-explore {
        width: 50vw;
        margin: 3vw 25vw;
    }
    /*.row > div {*/
    /*    flex: 100%; !* or - flex: 0 50% - or - flex-basis: 50% - *!*/
    /*    !*demo*!*/
    /*}*/

}
/*the following will only show on mid or larger screens*/
@media screen and (min-width: 576px) {
    .homepage-container {
        display: flex;
    }

    #column-leaderboard {
        width: 65vw;
        margin: 5vw;
    }

    #column-explore {
        width: 20vw;
        margin: 15vw 3vw;
    }

    /*.row > div {*/
    /*    flex: 50%; !* or - flex: 0 50% - or - flex-basis: 50% - *!*/
    /*    !*demo*!*/
    /*}*/
}

.homepage-page-wrapper {
    overflow: hidden;
    background: rgb(90,64,87);
    background: radial-gradient(circle, rgba(90,64,87,1) 0%, rgb(37, 35, 35) 100%);

}


#leaderboard-header{
    text-align: center;
    color: var(--leaderboard-color);
}

#explore-header {
    text-align: center;
    color: var(--explore-color)
}
/*.column-for-leaderboard-rows {*/
/*    padding: 14px;*/
/*    width: 65vw;*/
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*}*/

.rank-number {
    padding: 20px;
}

.rating-number {
    padding: 20px;
}

.item-in-leaderboard{
    background-color: var(--bg-leaderboard-row);
    border: 1px solid var(--bg-leaderboard-row-darker);
    box-shadow: 1px 1px #888888;
    margin: 5px;
}
.item-in-leaderboard:nth-of-type(odd){
    background-color: var(--bg-leaderboard-row-darker);
}

.item-in-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    padding: 2px;
    margin: 5px;
    height: 50px;

}

#explore-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    padding: 2px;
    margin: 5px;
    height: 50px;

}

.item-in-explore {
    background-color: var(--bg-leaderboard-row);
    box-shadow: 1px 1px #888888;
    margin: 5px;
}

.item-in-explore:nth-of-type(odd) {
    background-color: var(--bg-leaderboard-row-darker);
}
.navbar-brand .vibeCheck{
    cursor: pointer;
}

.rounded-edges {
    border-radius: 25px;
}

.rounded-edges.rating-number{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: inherit;
    padding: 6px 6px;
    border: 2px solid var(--rating-circle-color);
}



a {
    color: #810ff2;
    text-decoration: none;
}
div .item-in-leaderboard .leaderboard-users{
    transition: all 200ms;
}
div .item-in-leaderboard .leaderboard-users:hover {
    transform: scale(1.1);
}

/*.list-group-item {*/

/*}*/

/*.rank-number {*/
/*    display: flex;*/
/*}*/

/*.card-body {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
