/*the following will only show on small screens*/
@media screen and (max-width: 575px) {
    .row {
        display: flex;
        flex-direction: column;
    }
    .row > div {
        flex: 100%; /* or - flex: 0 50% - or - flex-basis: 50% - */
        /*demo*/
    }

}
/*the following will only show on mid or larger screens*/
@media screen and (min-width: 576px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .row > div {
        flex: 50%; /* or - flex: 0 50% - or - flex-basis: 50% - */
        /*demo*/
    }
}
#leaderboard-header{
    text-align: center;
}

#explore-header {
    text-align: center;
}
.column-for-leaderboard-rows {
    padding: 5px;
    width: 90vw;
}

.item-in-column {
    display: flex;
    /*justify-content: space-between;*/
    padding: 5px;
    border: 1px solid rgba(155, 164, 190, 0.93);
    box-shadow: 1px 1px #888888;
}

#leaderboard-item {
    justify-content: space-between;
}

#explore-item {
    justify-content: center;
}
.navbar-brand .vibeCheck{
    cursor: pointer;
}




/*.list-group-item {*/

/*}*/

/*.rank-number {*/
/*    display: flex;*/
/*}*/

/*.card-body {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
