/*Landing Header*/

.landing-header-container {
    width: 100vw;
    height: 13rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.header-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-column {
    position: absolute;
    padding: 1rem;
}

.header-column > h1 {
    color: whitesmoke;
    font-size: 3.5rem;
}

.header-column > h3 {
    font-size: 2.75rem;
    color: whitesmoke;
}

.header-column-image {
    width: 8.5rem;
    height: 8.5rem;
    margin-right: 35rem;
}

.header-column-image > img {
    width: inherit;
    height: inherit;
}

/*Landing Content*/

.landing-content-container{
    width: 100vw;
    height: 85vh;
    position: absolute;
    overflow: scroll
}

.landing-content-row {
    display: flex;
    justify-content: right;
    align-items: center;
    margin: .5rem 5rem 0rem 5rem;
}

.landing-content-column-img {
    width: 25rem;
    height: 25rem;
    padding: 2rem;
}

.landing-content-column-img > img {
    height: inherit;
    width: inherit;
}

.landing-content-column {
    color: whitesmoke;
}

.landing-content-column2 {
    color: whitesmoke;
    padding: 1rem;
    margin-left: 2rem;
}

.landing-content-row2 {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: left;
    margin-top: .5rem;
}

.landing-content-row3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    margin-top: .5rem;
    padding: 1rem;
}

.landing-content-column-rate-img {
    width: 50rem;
    height: 25rem;
}

.landing-content-column-rate-img > img {
    width: inherit;
    height: inherit;
}

.landing-content-row4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: whitesmoke;
    margin-top: .5rem;
    margin-bottom: 0;
    padding: 1rem;
}

.landing-content-column-leaderboard-img {
    width: 35rem;
    height: 24rem;
}

.landing-content-column-leaderboard-img > img {
    width: inherit;
    height: inherit;
}