/*the following will only show on small screens*/
@media screen and (max-width: 575px) {}
/*the following will only show on mid or larger screens*/
@media screen and (min-width: 576px) {}

.modal-search-bar {
    width: 100%;
    height: 2.8rem;
    margin-top: 4px;
    background: #F5F5F5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}


.search-image{
    width:85px;
}

.song-container {
    display: flex;
    justify-content: space-between;
    text-align: end;
    color:white;
}

.song-and-title-playlist{
    text-align: right;
}
.image-for-playlist {
    padding: 2px;
    align-self: center;
    transition: all 200ms;
}
.plName{
    cursor: pointer;
}

.searchline > .addButton {
    background-color: green;
    color: whitesmoke;

}

.searchline > .addButton:hover {
    transform: scale(1.1);
}

.plName, .card-header {
    transition: all 200ms;
    color:white;
}

.plName:hover {
    transform: scale(1.1);
}

.image-for-playlist:hover {
    transform: scale(1.1);
}
div .card {
    box-shadow: 0px 0px 10px 0px #000000;
}

#playlist-background, .song-container {
   background-color: var(--login-gray);

}

.profile-container {
    overflow-y: auto;
    overflow-x: hidden;
}

.list-group-item {
    background-color: var(--navbar-gray);
    border: none;
    margin: 2px;
}

#myChartContainer {
    background-color: #f8f8f8;
}
.playlistScroll {
    max-height: 45vh; /* Set the height of the container */
    overflow-y: scroll; /* Enable scrolling on the y-axis */
    overflow-x: hidden;
}
.songScroll{
    max-height: 40vh; /* Set the height of the container */
    overflow-y: scroll; /* Enable scrolling on the y-axis */
}

.user-rank-rating-container {
    display: flex;
    justify-content: space-around;
    margin: 5px 15px 10px 15px;
    align-items: center;
    border: 7px solid var(--navbar-gray);
    box-shadow: 2px 3px 5px 2px var(--vibecheck-purple);
    background-color: var(--login-gray);
}

.profile-username, .profile-rank, .profile-rating{
    font-size: 2rem;
    color: whitesmoke;
}

div > h5 {
    color: #02a102;
}

ul > .displayedRating {
    list-style: none;
    font-size: 1.2em;
    color: #02a102;
    padding: 0;
}

.goldTrophy{
    color: darkgoldenrod;
}

.silverTrophy{
    color: silver;
}

.bronzeTrophy{
    color: saddlebrown;
}