:root {
    --bg-leaderboard-row: #d3d3da;
    --bg-leaderboard-row-darker: #bcbcbd;
    --leaderboard-color: #23cd23;
    --explore-color: #eaae40;
    --rating-circle-color: #696767;
    --vibecheck-purple-gradient: radial-gradient(circle, rgba(144,129,134,1) 0%, rgba(109,0,191,1) 100%);
}

/*the following will only show on small screens*/
@media screen and (max-width: 575px) {}
/*the following will only show on mid or larger screens*/
@media screen and (min-width: 576px) {}

.modal-search-bar {
    width: 100%;
    height: 2.8rem;
    margin-top: 4px;
    background: #F5F5F5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}


.search-image{
    width:85px;
}



.song-container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    /*justify-content: space-between;*/
    /*text-align: end;*/
    color:white;
}

.song-and-title-playlist {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.image-for-playlist {
    padding: 5px;
    margin-left: 1rem;
    transition: all 200ms;
}
.plName{
    cursor: pointer;
}

.searchline > .addButton {
    background: var(--vibecheck-purple-gradient);
    color: whitesmoke;
    width: 22%;

}

.searchline > .addButton:hover {
    transform: scale(1.1);
}

.navbar-submit-button {
    background: var(--vibecheck-purple-gradient);
    color: whitesmoke;
}


.rate-button {
    background: var(--vibecheck-purple-gradient);
    color: whitesmoke;
    text-align: center;
    width: 20%;
}

.rate-button:hover {
    transform: scale(1.1);
}

select#rating {
    width: 15%;
}

.plName, .card-header {
    transition: all 200ms;
    color:white;
}

.plName:hover {
    transform: scale(1.1);
}

.image-for-playlist:hover {
    transform: scale(1.1);
}
div .card {
    box-shadow: 0px 0px 10px 0px #000000;
}

#playlist-background, .song-container {
   background-color: var(--login-gray);

}

.profile-container {
    overflow-y: auto;
    overflow-x: hidden;
}
li.list-group-item.listOfPlaylists {
    float: left;
    clear: both;
}
ul > .list-group-item {
    background-color: rgba(87,87,87,1);
    border: none;
    margin: 2px;
}

.ratingClass {
    padding: 0;
    margin: 0;
}

#myChartContainer {
    background-color: #f8f8f8;
}
.playlistScroll {
    max-height: 45vh; /* Set the height of the container */
    overflow-y: scroll; /* Enable scrolling on the y-axis */
    overflow-x: hidden;
}
.songScroll{
    max-height: 40vh; /* Set the height of the container */
    overflow-y: scroll; /* Enable scrolling on the y-axis */
}

.user-rank-rating-container {
    display: flex;
    justify-content: space-around;
    margin: 5px 15px 10px 15px;
    align-items: center;
    border: 7px solid var(--navbar-gray);
    box-shadow: 2px 3px 5px 2px var(--vibecheck-purple);
    background-color: var(--login-gray);
}

.profile-username, .profile-rank, .profile-rating{
    font-size: 2rem;
    color: whitesmoke;
}

div > h5 {
    color: #02a102;
}

ul > .displayedRating {
    list-style: none;
    font-size: 1.2em;
    color: #02a102;
    padding: 0;
    margin: 0;
}

.goldTrophy{
    color: darkgoldenrod;
}

.silverTrophy{
    color: silver;
}

.bronzeTrophy{
    color: saddlebrown;
}



/*below is the section that controls the trash cans for the delete operation */
.icon-wrapper {
    position: relative;
    cursor: pointer;
    margin: 0 1rem;
    padding: 1px 0 10px 0;
}

.icon-wrapper-container{
    display:flex;
    justify-content: flex-end;
}


.lid{
    position: relative;
    top: 2px;
    width: 24px;
    height: 6px;
    background: white;
    border: solid 2px rgb(100,100,100);
    transition: all .2s ease-in-out;
    transform-origin: left;
    transform: rotate(0deg) translateY(0px);
}
.lid:before,
.lid:after{
    content: '';
    position: absolute;
}
.lid:before{
    width: 10px;
    height: 5px;
    top: -5px;
    left: 5px;
    background: rgb(100,100,100);
}
.lid:after{
    width: 6px;
    height: 4px;
    top: -3px;
    left: 7px;
    background: white;
}
.can{
    position: relative;
    left: 2px;
    width: 20px;
    height: 20px;
    background: white;
    border: solid 2px rgb(100,100,100);
    border-radius: 0 0 3px 3px;
}
.can:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    box-shadow: 4px 5px 0px 1px rgb(100,100,100),
    4px 7px 0px 1px rgb(100,100,100),
    4px 9px 0px 1px rgb(100,100,100),
    4px 11px 0px 1px rgb(100,100,100),
    4px 13px 0px 1px rgb(100,100,100),
    8px 5px 0px 1px rgb(100,100,100),
    8px 7px 0px 1px rgb(100,100,100),
    8px 9px 0px 1px rgb(100,100,100),
    8px 11px 0px 1px rgb(100,100,100),
    8px 13px 0px 1px rgb(100,100,100),
    12px 5px 0px 1px rgb(100,100,100),
    12px 7px 0px 1px rgb(100,100,100),
    12px 9px 0px 1px rgb(100,100,100),
    12px 11px 0px 1px rgb(100,100,100),
    12px 13px 0px 1px rgb(100,100,100);
}
.icon-wrapper:hover .lid{
    transform: rotate(-30deg) translateY(-2px);
}