<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <link rel="icon" type="image/png" href="/img/musicnote.svg"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <link rel="stylesheet" th:href="@{css/site.css}">
  <link rel="stylesheet" th:href="@{css/login.css}">
</head>
<body>

  <div class="page-wrapper">

    <nav class="navbar navbar-expand-custom navbar-mainbg"th:fragment="navbar-desktop">
      <a class="navbar-brand navbar-logo">VibeCheck</a>
      <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <div class="hori-selector"><div class="left"></div><div class="right"></div></div>

          <li class="nav-item active">
            <a class="nav-link" href="javascript:void(0);"th:href="@{/register}"><i class="far fa-address-book"></i>Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" th:href="@{/}"><i class="far fa-clone"></i>Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Charts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>Documents</a>
          </li>
        </ul>
      </div>
    </nav>



    <!--  <nav th:replace="partials/partials:: navbar-desktop"></nav>-->
<!--  <nav class="nav">-->
<!--    <a class="nav-link text-dark" th:href="@{/}">VibeCheck</a>-->
<!--    <a class="nav-link" th:href="@{/register}">Dont have an account? Register!</a>-->
<!--  </nav>-->

  <!--<nav th:replace="partials/partials.html :: navbar-mobile"></nav>-->
  <!--<h1 th:replace="partials/partials.html :: header"></h1>-->
  <div th:if="${param.error}">
    Invalid Username and Password.
  </div>
  <div th:if="${param.logout}">
    You have been logged out.
  </div>

  <div id="login-button">
    <img src="/img/musicnote.svg" alt="microphone" height="40px" width="40px">
    </img>
  </div>
  <div id="container">
    <h1>Sign In</h1>
    <span class="close-btn">
      <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
    </span>


    <form th:action="@{/login}" method="post">
        <input placeholder="Username" id="username" name="username" class="input3" type="text">
        <input placeholder="Password" id="password" name="password" class="input3" type="password">
      <input class="submit" type="submit" value="Login">

      <div id="remember-container">
        <input type="checkbox" id="checkbox-2-1" class="checkbox" checked="checked"/>
        <span id="remember">Remember me</span>
        <span id="forgotten" hidden>Forgotten password</span>
      </div>
    </form>
  </div>

  <!-- Forgotten Password Container -->
  <div id="forgotten-container"hidden>
    <h1>Forgotten</h1>
    <span class="close-btn">
      <img src="https://cdn4.iconfinder.com/data/icons/miu/22/circle_close_delete_-128.png"></img>
    </span>

    <form>
      <input type="email" name="email" placeholder="E-mail">
      <a href="#" class="orange-btn">Get new password</a>
    </form>
  </div>

  <script
          src="https://code.jquery.com/jquery-3.6.2.min.js"
          integrity="sha256-2krYZKh//PcchRtd+H+VyyQoZ/e3EcrkxhM8ycwASPA="
          crossorigin="anonymous"></script>

  <script th:src="@{js/login.js}"></script>
    <script th:src="@{js/navigationbar.js}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
  </div>
</body>
</html>