<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>About</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
  <script th:src="@{/js/jquery-3.6.3.min.js}"></script>
  <link rel="stylesheet" th:href="@{/css/site.css}">
  <link rel="stylesheet" th:href="@{/css/about.css}">
  <script th:src="@{/js/navigationbar.js}"></script>
</head>

<body>
<div class="page-wrapper">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" th:href="@{/homepage}">VibeCheck</a>
    <button class="navbar-toggler bg-light" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

      <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);"th:href="@{|/profile/${activeUser}|}"><i class="fas fa-tachometer-alt"></i>Profile</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="javascript:void(0);"th:href="@{/logout}"><i class="far fa-address-book"></i>Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);"><i class="far fa-clone"></i>Components</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Calendar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Charts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0);"><i class="far fa-copy"></i>Documents</a>
        </li>
        <li class="nav-item" id="search-bar">
          <form class="d-flex" role="search" name="codeForm">
            <input class="form-control me-2" type="search" placeholder="Search for user..." aria-label="Search" id="code" name="code">
            <button class="btn btn-outline-success" id="submit" type="submit">Search</button>
          </form>
        </li>
      </ul>

    </div>
  </nav>

  <!-- carousel start -->
  <section class="carousel" aria-label="Gallery">
    <ol class="carousel__viewport">
      <li id="carousel__slide1"
          tabindex="0"
          class="carousel__slide">
  <!--      this is the card-->
        <div class="card">
          <div class="card-header text-center d-flex justify-content-between">
            <a th:href="@{#carousel__slide5}" class="carousel__prev">Go to last slide</a>
            <h1>Aaron Morris</h1>
            <a th:href="@{#carousel__slide2}" class="carousel__next">Go to next slide</a>
          </div>
          <div class="card-body d-flex justify-content-center text-center">
            <a href="https://github.com/aarmorris" class="github-button">Go to my Github!</a>
            <img th:src="@{img/aaron_pic.jpeg}" class="card-img-top" alt="Aaron Morris">
            <a th:href="@{https://www.linkedin.com/in/morrisar8/}" class="linkedin-button">Go to my LinkedIn!</a>
          </div>
          <p class="card-text">
            About me:<br>

            My major contributions:
  <!--          insert description here-->
          </p>
        </div>
        <div class="carousel__snapper">
        </div>
      </li>


      <li id="carousel__slide2"
          tabindex="0"
          class="carousel__slide">
        <!--      this is the card-->
        <div class="card">
          <div class="card-header text-center d-flex justify-content-between">
            <a th:href="@{#carousel__slide1}"
               class="carousel__prev">Go to previous slide</a>
            <h1>Caleb O'Kane</h1>
            <a th:href="@{#carousel__slide3}"
               class="carousel__next">Go to next slide</a>
          </div>
          <div class="card-body d-flex justify-content-center text-center">
            <a href="https://github.com/theCEO1999" class="github-button">Go to my Github!</a>
            <img th:src="@{img/caleb_pic.jpg}" class="card-img-top" alt="...">
            <a href="LinkedIn/CalebO'Kane" class="linkedin-button">Go to my LinkedIn!</a>
          </div>
          <p class="card-text">
            About me: I am Caleb. A 24 years old, Software Developer from San Antonio, TX. <br>

            My major contributions: I helped to define the models and build the connections necessary between the entities for the database. With help, I was able to create the controller necessary to grab all the necessary data for a specified playlist, and then return the results in json format to display information without having to refresh the page. In order to get that controller to work, I had to find out where infinite recurssion was happening in the models and add the @JsonIgnore annotation. I also implemented the chartjs api, so I could display all the ratings for a playlist onto a bar graph. Lastly, I contributed to the css for this application.

          </p>
        </div>
        <div class="carousel__snapper"></div>
      </li>


      <li id="carousel__slide3"
          tabindex="0"
          class="carousel__slide">
        <!--      this is the card-->
        <div class="card">
          <div class="card-header text-center d-flex justify-content-between">
            <a th:href="@{#carousel__slide2}" class="carousel__prev">Go to previous slide</a>
            <h1>Daniel Name</h1>
            <a th:href="@{#carousel__slide4}" class="carousel__next">Go to next slide</a>
          </div>
          <div class="card-body d-flex justify-content-center text-center">
            <a href="https://github.com/danielname" class="github-button">Go to my Github!</a>
            <img th:src="@{img/daniel_pic.jpeg}" class="card-img-top" alt="Daniel Name">
            <a href="https://www.linkedin.com/in/daniel-name/" class="linkedin-button">Go to my LinkedIn!</a>
          </div>
          <p class="card-text">
            <!--          insert description here-->
            About me:<br>

            My major contributions:
          </p>
        </div>
        <div class="carousel__snapper"></div>
      </li>


      <li id="carousel__slide4"
          tabindex="0"
          class="carousel__slide">
        <!--      this is the card-->
        <div class="card">
          <div class="card-header text-center d-flex justify-content-between">
            <a th:href="@{#carousel__slide3}" class="carousel__prev">Go to previous slide</a>
            <h1>Joshua Sprouse</h1>
            <a th:href="@{#carousel__slide5}" class="carousel__next">Go to next slide</a>
          </div>
          <div class="card-body d-flex justify-content-center text-center ">
            <a href="https://github.com/thevaliantjosh" class="github-button">Go to my Github!</a>
            <img th:src="@{img/Josh_pic.jpeg}" class="card-img-top" alt="Joshua Sprouse">
            <a href="https://www.linkedin.com/in/joshuacalebsprouse/" class="linkedin-button">Go to my LinkedIn!</a>
          </div>
          <p class="card-text">
            <!--          insert description here-->
            About me:<br>
            Software developer with prior military experience in food service and human resources. Transitioning stemming from self-taught programming experience building simple websites with the drive for programming computer games. Through code, I enjoy creating and developing useful applications facilitating the needs for the tech industry.
          </p>
        </div>
        <div class="carousel__snapper"></div>
      </li>


      <li id="carousel__slide5"
          tabindex="0"
          class="carousel__slide">
        <!--      this is the card-->
        <div class="card">
          <div class="card-header text-center d-flex justify-content-between">
            <a th:href="@{#carousel__slide4}" class="carousel__prev">Go to previous slide</a>
              <h1>Richard Kim</h1>
            <a th:href="@{#carousel__slide1}" class="carousel__next">Go to first slide</a>
          </div>
          <div class="card-body d-flex justify-content-center text-center">
            <a href="https://github.com/richy088" class="github-button">Go to my Github!</a>
            <img th:src="@{img/rich_pic.png}" class="card-img-top" alt="Richard Kim">
            <a class="linkedin-button">Go to my LinkedIn!</a>
          </div>
          <p class="card-text">
            <!--          insert description here-->
            About me:<br>

            My major contributions:
          </p>
        </div>
        <div class="carousel__snapper"></div>
      </li>
    </ol>

  </section>
</div>
</body>
</html>