<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/img/musicnote.svg"/>
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Bootstrap JS Scripts -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <!--Custom CSS-->
    <link rel="stylesheet" th:href="@{css/home.css}">
    <link rel="stylesheet" th:href="@{css/site.css}">
</head>
<body>
<div class="page-wrapper">
    <nav class="navbar navbar-expand-custom navbar-mainbg">
    <a class="navbar-brand navbar-logo" th:href="@{/homepage}">VibeCheck</a>
    <button class="navbar-toggler bg-light" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

        <i class="fas fa-bars text-white"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);"th:href="@{|/profile/${activeUser}|}"><i class="fas fa-tachometer-alt"></i>Profile</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0);"th:href="@{/logout}"><i class="far fa-address-book"></i>Logout</a>
            </li>
                <li class="nav-item" id="search-bar">
                    <form class="d-flex" role="search" name="codeForm">
                        <input class="form-control me-2" type="search" placeholder="Search for user..." aria-label="Search" id="code" name="code">
                        <button class="btn btn-outline-success" id="submit" type="submit">Search</button>
                    </form>
                </li>
        </ul>

    </div>
</nav>

    <!--<nav th:replace="partials/partials.html :: navbar-mobile"></nav>-->
    <form th:action="@{/logout}" sec:authorize="isAuthenticated()"  th:method="post">
    <!--    <button>Logout</button>-->
    </form>
    <form th:action="@{/login}" sec:authorize="!isAuthenticated()"  th:method="post">
    <!--    <button>Login</button>-->
    </form>

<!--loop through playlists in database and display them inside div calls column-for-leaderboard-->

    <div class="homepage-container">
        <div class="ranked-row">
            <div class="column-for-leaderboard-rows" id="column-leaderboard">
                <h1 id="leaderboard-header">LEADERBOARD</h1>
                <div th:each="user,i:${topRatedUsers}" th:if="${topRatedUsers.indexOf(user) < 10}" class="item-in-leaderboard">
                    <div class="item-in-column" id="leaderboard-item">
                       <div class="rank-wrapper">
                           <span class="rank-number" th:text="${topRatedUsers.indexOf(user) + 1} "></span>
                       </div>
                        <a th:text="${user.username}" th:href="@{|/profile/${user.username}|}" class="leaderboard-users"></a>
                        <!--Need to insert the ratingnumber from a loop-->
                        <span th:text="${userRatingsList[i.index]}" class="rating-number rounded-edges"></span>
                    </div>
                </div>
            </div>
        </div>
        <!--row for Explore section-->
        <div class="ranked-row">
            <div class="column-for-leaderboard-rows" id="column-explore">
                <h1 id="explore-header">EXPLORE</h1>
                <div th:each="user:${users}" id="explore-item" class="item-in-explore rounded-edges">
                    <div class="item-in-explore-column">
                        <a th:text="${user.username}" th:href="@{|/profile/${user.username}|}" class="exploreUsers"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!--End of homepage Pagewrapper-->

<!-- Custom JS scripts -->
<script src="../../static/js/navigationbar.js"></script>
<script th:src="@{/js/jquery-3.6.3.min.js}"></script>
<script th:src="@{js/navigationbar.js}"></script>
<script th:src="@{js/homepage.js}"></script>
</body>
</html>