<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VibeCheck</title>
    <link rel="icon" type="image/png" href="/img/musicnote.svg"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <script th:src="@{/js/jquery-3.6.3.min.js}"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script th:src="@{/js/navigationbar.js}"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" th:href="@{/css/site.css}">
<!--    <link rel="stylesheet" th:href="@{/css/landing.css}">-->
    <link rel="stylesheet" th:href="@{/css/landing2.scss}">
</head>
<!-- THE BODY -->

<body>



    <!-- THE PAGE WRAPPER -->
        <div class="page-wrapper">

            <!-- Navbar -->
            <nav class="navbar navbar-expand-custom navbar-mainbg">
                <a class="navbar-brand navbar-logo">VibeCheck</a>
                <button class="navbar-toggler bg-light" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

                    <i class="fas fa-bars text-white"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <div class="hori-selector">
                            <div class="left">

                            </div>
                            <div class="right">

                            </div>
                        </div>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0);"th:href="@{/login}"><i class="fas fa-tachometer-alt"></i>Login</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="javascript:void(0);"th:href="@{/register}"><i class="far fa-address-book"></i>Register</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="javascript:void(0);"th:href="@{/about}"><i class="far fa-address-book"></i>About</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- CONTAINER HEADER -->
            <div class="landing-header-container">
                <!-- ROW HEADER-->
                <div class="header-row">
                    <div class="header-column-image">
                        <img src="/img/vibe-check-icon.png">
                    </div>
                    <div class="header-column">
                        <h1>VibeCheck</h1>
                        <h3>Create. Rate. Climb.</h3>
                    </div>
                </div>
            </div>

            <!--LANDING CONTENT CONTAINER-->
            <div class="landing-content-container">
                <carousel>
                    <!-- page 1 -->
                    <page id="page1">
                        <div>
                            <!--Content Row-->
                            <div class="landing-content-row">
                                <div class="landing-content-column">
                                    <h2>Create Playlists! </h2>
                                    <p> Create the best Playlist with all your favorite songs! </p>
                                </div>
                                <div class="landing-content-column-img">
                                    <img src="/img/playlist-screenshot.png">
                                </div>
                            </div>
                        </div>
                        <label for="page2cb" title="Start"><b>START</b></label>
                    </page>
                    <!-- page 2 -->
                    <page id="page2">
                        <div>
                            <!--Landing Content row 2-->
                            <div class="landing-content-row2">
                                <div class="landing-content-column2">
                                    <h2>Create As Many as You like!</h2>
                                </div>
                                <div class="landing-content-column-img">
                                    <img src="/img/list-of-playlists-screenshot.png">
                                </div>
                            </div>
                        </div>
                        <label for="page3cb" title="Next"><b>NEXT</b></label>
                    </page>
                    <!-- page 3 -->
                    <page id="page3">
                        <div>
                            <!--Landing Content Row 3-->
                            <div class="landing-content-row3">
                                <div class="landing-content-column-rate-img">
                                    <img src="/img/other-users-profile-and-rating-screenshot.png">
                                    <h4><strong>Click!</strong> the Playlist name to show the songs!</h4>
                                </div>
                                <div class="landing-content-column3">
                                    <h2>Rate Others Playlist</h2>
                                    <p>Rate Your <strong>VIBES</strong> from <em>1 to 5</em> with <strong>5 being the best</strong> and <em> 1</em> in need of a <strong>VIBECHECK!</strong></p>
                                </div>
                            </div>
                        </div>
                        <label for="page4cb" title="Next"><b>NEXT</b></label>
                    </page>
                    <!-- page 4 -->
                    <page id="page4">
                        <div>
                            <div class="landing-content-row4">
                                <div class="landing-content-column-leaderboard-img">
                                    <img src="/img/leaderboard-no-score-screenshot.png">
                                </div>
                                <div class="landing-content-column4">
                                    <h2>Climb to the top of the Leaderboard!</h2>
                                </div>
                            </div>
                        </div>
                        <label for="page1cb" title="That's all folks!"><b>START AGAIN?</b></label>
                    </page>
                    <input type="radio" id="page1cb" checked name="pages" />
                    <input type="radio" id="page2cb" name="pages" />
                    <input type="radio" id="page3cb" name="pages" />
                    <input type="radio" id="page4cb" name="pages" />
                    <input type="radio" id="page5cb" name="pages" />
                </carousel>
            </div>
        </div><!--End of Page wrapper-->
</body>
</html>
