<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="_csrf" data-th-content="${_csrf.token}">
    <title>Profile</title>

<!-- Favicon -->
    <link rel="icon" type="image/png" href="/img/musicnote.svg"/>
<!--Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!--Bootstrap JS Scripts-->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<!--Custom Js Scripts-->
    <script th:src="@{/js/keys.js}"></script>
<!--Custom CSS-->
    <link rel="stylesheet" th:href="@{/css/modal-button.cs}">
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" th:href="@{/css/site.css}">

</head>

<body>
<div class="page-wrapper">
    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand navbar-logo" th:href="@{/homepage}">VibeCheck</a>
        <button class="navbar-toggler bg-light" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

            <i class="fas fa-bars text-white"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <div class="hori-selector"><div class="left"></div><div class="right"></div></div>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"th:href="@{/homepage}"><i class="fas fa-tachometer-alt"></i>Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="javascript:void(0);"th:href="@{/logout}"><i class="far fa-address-book"></i>Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-clone" hidden></i>Components</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt" hidden></i>Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar" hidden></i>Charts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);"><i class="far fa-copy" hidden></i>Documents</a>
                </li>
                <li class="nav-item" id="search-bar">
                    <form class="d-flex" role="search" name="codeForm">
                        <input class="form-control me-2" type="search" placeholder="Search for user..." aria-label="Search" id="code" name="code">
                        <button class="btn btn-outline-success" id="submit" type="submit">Search</button>
                    </form>
                </li>
            </ul>

        </div>
    </nav>

    <form th:action="@{/logout}" sec:authorize="isAuthenticated()"  th:method="post">
<!--        <button>Logout</button>-->
    </form>
    <form th:action="@{/login}" sec:authorize="!isAuthenticated()"  th:method="post">
<!--        <button>Login</button>-->
    </form>
    <div class="user-rank-rating-container">
    <h2 th:text="${pageOwner}" class="profile-username"></h2>


        <span class="profile-rank">
            rank: <span th:text="${rank}"></span>
        </span>
        <span class="profile-rating">
            rating: <span th:text="${averageRating}"></span>
        </span>
    </div>


    <div class="container-fluid text-center flex-wrap">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 mb-4 mt-2">
                <div class="card m-auto justify-content-center" id="playlist-background">
                    <div class="card-header">
                        Playlists:
                    </div>
                    <ul  th:each="playlist : ${allPlaylists}" class="list-group list-group-flush">
                        <li th:if="${userID} == ${playlist.user.id}" class="list-group-item">

                            <h3 th:text="${playlist.playlistName}" class="plName" th:plId="${playlist.id}" th:activeUser="${activeUser}" th:activeUserId="${activeUserID}" th:userId="${userID}"></h3>
                            <h2 th:if="${ratingCheck.contains(playlist.id)}">My Rating: </h2>
                            <ul th:if="${ratingCheck.contains(playlist.id)}" th:each="rating : ${myRatings}">
                                <li th:if="${rating.playlist.id} == ${playlist.id}" th:text="${rating.score}"></li>
                            </ul>
                            <div hidden th:text="${playlist.id}" id="playlist-id"></div>


                            <div th:if="${activeUserID} != ${userID}">
                                <div th:if="${!ratingCheck.contains(playlist.id)}">
                                    <form th:action="@{|/rating/${pageOwner}|}" th:method="post" th:object="${rating}" >
                                        <select th:field="*{score}" name="rating" id="rating">
                                            <option th:value="5">5</option>
                                            <option th:value="4">4</option>
                                            <option th:value="3">3</option>
                                            <option th:value="2">2</option>
                                            <option th:value="1">1</option>
                                        </select>
                                        <input type="hidden" name="playlistId" th:value="${playlist.id}">
                                        <button>rate</button>
                                    </form>
                                </div>
                            </div>

                            <!--                    <a th:href="@{#}"><p th:text="${playlist.playlistName}" th:class="@{|playlist${playlist.id}|}"></p> &lt;!&ndash;need to make the href fill the other table&ndash;&gt;-->
                            <form th:if="${activeUserID} == ${userID}" th:action="@{|/profile/playlist/delete/${activeUser}|}" method="post" class="playlistForm">
                                <button>delete</button>
                                <input  th:value="${activeUserID}" name="userId" type="hidden">
                                <input  th:value="${playlist.id}" name="playlistId" type="hidden">
                            </form>
                        </li>

                    </ul>

                    <form th:action="@{|/profile/${activeUser}|}" method="post" class="playlistForm">
                        <input name="playlistName" id="newPlaylistInput" autocomplete="off" placeholder="+ Add New Playlist" th:if="${userID} == ${activeUserID}">
                        <input  th:value="${activeUserID}" name="userId" type="hidden">
                    </form>


                </div>

            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 mb-4 mt-2">
                <div class="card m-auto song-container">
                    <div class="card-header playlist-title text-center" id="playlist-name">click the playlist name to fill</div>
                    <div id="allPlaylistSongs"></div>
                    <div class="dnModal hidden">
                        <div id="Dropdown" class="dnModal-content">
                            <span class="dnModal-close">&times;</span>
                            <form class="modal-search" role="search">
                                <div class="search-bar">
                                    <input type="text" class="modal-search-bar" id="modal-search-form" placeholder="Search for Songs">
                                </div>
                                <div class="modal-fill"></div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!--  Card containing list of playlists  -->


<!--        <br><br><br><br><br><br><br>-->
<!--Card That all the Image, Artists, and Titles of Song lives in For a playlist-->



    <div class="container" id="myChartContainer" style="display:none;">
        <div>
            <canvas id="myChart"></canvas>
        </div>
    </div>

</div>
    <!--Hidden Div for keys object and properties-->
    <div th:data-client-id="${keys.clientId}" th:data-client-secret="${keys.clientSecret}" id="spotify-keys" hidden></div>
</div><!--End of Page Wrapper-->

<!--chart.js link-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<!--JQuery-->
<script th:src="@{/js/jquery-3.6.3.min.js}"></script>
<!--Custom JS scripts-->

<script th:src="@{/js/modal.js}"></script>
<script th:src="@{/js/spotify_api.js}"></script>
<script th:src="@{/js/profile.js}"></script>
<script th:src="@{/js/navigationbar.js}"></script>


</body>
</html>