<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--Bootstrap CDN-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<!--Boostrap JS Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<!--Custom Js Scripts-->
    <script th:src="@{/js/keys.js}"></script>
<!--Custom CSS-->
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/homepage}">VibeCheck</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a th:if="${userID} == ${activeUserID}" class="nav-link dnModal-button" id="profile-search-music">
                        Search Music
                    </a>
                    <a class="nav-link" th:href="@{/homepage}">Home</a>
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </nav>
<!--    <nav th:replace="partials/partials.html :: navbar-mobile"></nav>-->
    <form th:action="@{/logout}" sec:authorize="isAuthenticated()"  th:method="post">
<!--        <button>Logout</button>-->
    </form>
    <form th:action="@{/login}" sec:authorize="!isAuthenticated()"  th:method="post">
<!--        <button>Login</button>-->
    </form>




<!--// To connect to JS, give the form inputs and the submit button an id. Put a script tag at the bottom of the body of this page connecting to the js page-->
    <div class="dnModal">
        <div id="Dropdown" class="dnModal-content">
            <span class="dnModal-close">&times;</span>
            <form class="modal-search" role="search">
                <div class="search-bar">
                    <input type="text" class="modal-search-bar" id="modal-search-form" placeholder="Search for Songs">
                </div>
                <div class="modal-fill"></div>
            </form>
        </div>
    </div>

    <h2 th:text="${pageOwner}"></h2>

    <div>
        <span>rank</span>
        <span>rating</span>
    </div>

    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Playlists:
        </div>
        <ul th:each="playlist : ${allPlaylists}" class="list-group list-group-flush">
            <li th:if="${userID} == ${playlist.userId}" class="list-group-item">

                <a th:href="@{#}"><p th:text="${playlist.playlistName}"></a> <!--need to make the href fill the other table-->
            </li>
        </ul>
        <button th:if="${userID} == ${activeUserID}">
            + Add New Playlist
        </button>
    </div>
    <br><br><br><br><br><br><br>

    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Songs
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
        </ul>
    </div>

<!--<div class="container" style="border: .4rem solid black;">-->
<!--    <div class="grid text-center" style="border: .4rem solid blue;">-->
<!--        <div class="g-col-10" style="border: .3rem solid grey;">Playlist</div>-->
<!--    </div>-->

<!--    <br><br><br>-->

<!--    <div class="grid text-center">-->
<!--        <div class="g-col-4" style="border: .1rem solid grey;">Song1</div>-->
<!--        <div class="g-col-4" style="border: .1rem solid grey;">Song2</div>-->
<!--        <div class="g-col-4" style="border: .1rem solid grey;">Song3</div>-->
<!--        <div class="g-col-4" style="border: .1rem solid grey;">Song4</div>-->
<!--        <div class="g-col-4" style="border: .1rem solid grey;">Song5</div>-->
<!--        <div class="g-col-4" style="border: .1rem solid grey;">Song6</div>-->
<!--        <div class="g-col-4" style="border: .1rem solid grey;">Song7</div>-->
<!--        <div class="g-col-4" style="border: .1rem solid grey;">Song8</div>-->
<!--        <div class="g-col-4" style="border: .1rem solid grey;">Song9</div>-->
<!--        <div class="g-col-4" style="border: .1rem solid grey;">Song10</div>-->
<!--    </div>-->
<!--</div>-->

<!--JQuery-->
<script th:src="@{/js/jquery-3.6.3.min.js}"></script>
<!--Custom JS scripts-->
<script th:src="@{/js/modal.js}"></script>
<script th:src="@{/js/spotify_api.js}"></script>

</body>
</html>